<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="container" style="margin:0 auto;width:70%;">
    <div id="first-line" style="width: 100%; height:130px;">
        <div style="border-left:2px solid #00008b; border-top: 2px solid #00008b; width:20%; height:100%; float:left;"><img src="../static/logo.png" style="margin-top: 20px; margin-left: 20px;"></div>
        <div style="border-left:1px solid #00008b; border-top: 2px solid #00008b; border-right:2px solid #00008b; width:80%; height:100%; float:right;">
            <div style="border-top:1px;border-right: 1px;border-bottom: 2px ; background-color: orangered; width:100%; height:30%;margin-top: 90px;">
                <div class="panel-body" style="width: 14.28%; float: left;"><font style="color: white;">证券代码</font></div>
                <div class="panel-body" style="width: 14.28%; float: left;"><font style="color: white;">证券名称</font></div>
                <div class="panel-body" style="width: 14.28%; float: left;"><font style="color: white;">上市时间</font></div>
                <div class="panel-body" style="width: 14.28%; float: left;"><font style="color: white;">部门</font></div>
                <div class="panel-body" style="width: 14.28%; float: left;"> <font style="color: white;">行业组</font></div>
                <div class="panel-body" style="width: 14.28%; float: left;"><font style="color: white;">行业</font></div>
                <div class="panel-body" style="width: 14.28%; float: left;"><font style="color: white;">子行业</font></div>
            </div>
        </div>
    </div>

    <div id="second-line" style="width: 100%; height: 60%;">
    <div style="border-top:1px solid #00008b;border-left: 2px solid #00008b;border-bottom: 2px solid #00008b; width:20%; height:320px; float:left;"><font style="color: gray;">详细信息</font></div>
    <div style="border-left: 1px; width:80%; height:100%; float:right;">
        <div style="border-top:1px solid #00008b;border-left:1px solid #00008b; border-bottom:1px solid #00008b; border-right:2px solid #00008b;width:100%; height:60px;"></div>
        <div style="border-left:1px solid #00008b;border-right:2px solid #00008b;border-bottom:1px solid #00008b; width:100%; height:60px;">
            <div class="panel-body" style="width: 14.28%; float: left;">上市地点</div>
            <div class="panel-body" style="width: 14.28%; float: left;">所属版</div>
            <div class="panel-body" style="width: 14.28%; float: left;">交易币种</div>
            <div class="panel-body" style="width: 14.28%; float: left;">会计年结日</div>
            <div class="panel-body" style="width: 14.28%; float: left;">审计机构</div>
            <div class="panel-body" style="width: 14.28%; float: left;">省份</div>
            <div class="panel-body" style="width: 14.28%; float: left;">城市</div>
        </div>
        <div style="border-left:1px solid #00008b;border-right:2px solid #00008b;border-bottom:1px solid #00008b; width:100%; height:60px;">
            <div class="panel-body" style="width: 14.28%; float: left;">成立时间</div>
            <div class="panel-body" style="width: 14.28%; float: left;">公司属性</div>
            <div class="panel-body" style="width: 14.28%; float: left;">董事长</div>
            <div class="panel-body" style="width: 28.56%; float: left;">实际控制人</div>
            <div class="panel-body" style="width: 14.28%; float: left;">公司网站</div>
            <div class="panel-body" style="width: 14.28%; float: left;">联系电话</div>
        </div>
        <div style="border-left:1px solid #00008b;border-right:2px solid #00008b;border-bottom:2px solid #00008b; width:100%; height:140px;">
            <div class="panel-body" style="width: 20%; float: left;">主营产品类型</div><br><br><br><br>
            <div class="panel-body" style="width: 20%; float: left;">主营产品名称</div>
        </div>
        </div>
    </div>
<!--写入..就能正常显示图片了-->
</div>
</body>
</html>
